Personal_chatbot_about_market_research/Fayaz_bot1.json
{
  "name": "Fayaz_bot1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -96
      ],
      "id": "c364d9dd-354c-439d-8d0b-e98bbc6dd2b0",
      "name": "Telegram Trigger",
      "webhookId": "e2fac57f-99b3-4dd8-860d-5a141f73edea",
      "credentials": {
        "telegramApi": {
          "id": "qjXGXGdSmI8P4OUP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the user prompt {{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        -96
      ],
      "id": "cb68e648-2770-4546-8ecc-f5e943813144",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        112
      ],
      "id": "8c74cfe5-9e01-43a9-beea-2b017e778ef6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9fGBAboNdfXa68TT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqSNHZttED3igBu",
          "mode": "list",
          "cachedResultName": "fayaz_bot",
          "cachedResultUrl": "https://airtable.com/appqSNHZttED3igBu"
        },
        "table": {
          "__rl": true,
          "value": "tblOwcYV14EIgODle",
          "mode": "list",
          "cachedResultName": "fayaz",
          "cachedResultUrl": "https://airtable.com/appqSNHZttED3igBu/tblOwcYV14EIgODle"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topics": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Content_from_llm": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "topics",
              "displayName": "topics",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content_from_llm",
              "displayName": "Content_from_llm",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        64,
        -96
      ],
      "id": "93ca67ff-2d34-4fe4-8546-319920758334",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "WcRe6pRcMoQYHNvg",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.fields.Content_from_llm }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -96
      ],
      "id": "30d0b731-0d61-4b1a-8b44-a4903a574728",
      "name": "Send a text message",
      "webhookId": "379dab5a-a08b-45f2-8297-5d62a838739c",
      "credentials": {
        "telegramApi": {
          "id": "Yy3A1X5pWzxW2gAa",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28f7e503-5c60-472a-aaf7-66daf7bc2fa8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b135ec823519ecbcbd634298f9bbbc03049f17618f48c66cffdff848ae5dbae4"
  },
  "id": "xnEngfuhhvfurdEx",
  "tags": []
}