Smart-Support-RAG-Pipeline for Ecommerce System/Customer_support.json
{
  "name": "Customer_support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zNP3tyv7-iatC6rXlwDVqOpqQTsi9zCx",
          "mode": "list",
          "cachedResultName": "Rag Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zNP3tyv7-iatC6rXlwDVqOpqQTsi9zCx"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "18870730-e96f-4daa-8a2a-9d09d19f9a3f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0cUbocGXowOcPdBX",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1zNP3tyv7-iatC6rXlwDVqOpqQTsi9zCx'  in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        128
      ],
      "id": "adfcdbef-e910-44d3-b683-5c55ae7a9172",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0cUbocGXowOcPdBX",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        128
      ],
      "id": "0d7ef359-d4a2-48e2-affa-7904e52e93b4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        48,
        176
      ],
      "id": "ed0cee6d-07a5-4334-8e66-5b3138d0e0d9"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        -16
      ],
      "id": "61b099af-5e1f-41f1-a378-7ba817adc948",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0cUbocGXowOcPdBX",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        -16
      ],
      "id": "8c8b4cb8-9a57-464b-8b90-e399a694751a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "jv5cpu6SSePNcKMR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "7b52cd6e-0385-4887-990e-4c7353f4e6a4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qkZVwZ9HRwvd2gNw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        192
      ],
      "id": "e16c8a63-0c8d-4663-a292-fdc4c610f8c9",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b83f07c5-0025-4a63-8a9e-c0ccf166990c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b135ec823519ecbcbd634298f9bbbc03049f17618f48c66cffdff848ae5dbae4"
  },
  "id": "2WoUhlaPfm87bpwE",
  "tags": []
}